@{
    ViewData["Title"] = "Extras";
}

    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Net Core MVC REST API!</h1>
            <br />
            <ul>
                <a href="VideoNet" target="_blank"><img src="~/images/API.png"></a>
            </ul>
        </div>
        <br />
        <div class="col-md-9 col-md-offset-3">
            <h1>From Zero to Docker</h1>
            <br />
            <ul>
                <a href="VideoDocker" target="_blank"><img src="~/images/dock.png"></a>
            </ul>
        </div>
    </div>