@{
    ViewData["Title"] = "VideoNet";
}

<br />

<html>
<body>

    <iframe width="420" height="345" src="https://www.youtube.com/embed?v=mUAZ-EbGBOg"></iframe>

</body>
</html>

<br />

<h3 <p>
    Step by Step Tutorial - .Net Core MVC REST API
</p></h3>

<br />
<br />

<p><i>Courtesy of youtube</i></p>